<h1>Editing destinatario</h1>

<%= render "form", destinatario: @destinatario %>

<br>

<div>
  <%= link_to "Show this destinatario", @destinatario %> |
  <%= link_to "Back to destinatarios", destinatarios_path %>
</div>
