<p style="color: green"><%= notice %></p>

<h1>Destinatarios</h1>

<div id="destinatarios">
  <% @destinatarios.each do |destinatario| %>
    <%= render destinatario %>
    <p>
      <%= link_to "Show this destinatario", destinatario %>
    </p>
  <% end %>
</div>

<%= link_to "New destinatario", new_destinatario_path %>
