<h1>Editing remetente</h1>

<%= render "form", remetente: @remetente %>

<br>

<div>
  <%= link_to "Show this remetente", @remetente %> |
  <%= link_to "Back to remetentes", remetentes_path %>
</div>
